//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

@import 'node_modules/dfe-frontend/packages/dfefrontend';

element.style {
}
.app-subnav {
    margin-bottom: 100px;
    padding-right: 15px;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
}

.app-split-pane__nav {
 width: 260px;
}

 .information-box {
  padding: 5px;
  width: 40%;
  border: solid #1d70b8 2px; 
}

.information-box {
background: #f4f8fb;
}

.information-box-text {
    margin-bottom: 10px;
}

.govuk-review-text {
    color: $govuk-secondary-text-colour;
    margin-top: 25px;
    margin-bottom: 0px;
}