<!DOCTYPE html>
{% extends "layouts/main.html" %} {% block pageTitle %} Content page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "/whos-who/index"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Digital Identity</h1>

    <p class="govuk-body">GOV.UK One Login lets your users sign in and prove their identity so they can access your
      service quickly and easily.</p>

    <p class="govuk-body">It will ultimately allow users to access any government service using the same email
      address and password, and also only need to prove their identity once.</p>

    <h2 class="govuk-heading-l">Teams in Digital Identity</h2>

    <p class="govuk-body">The Digital Identity directorate is made up of pods of people. Some of these pods have UCD
      capacity and will have assigned designers. Others will rely of the central UCD team or other teams to help them
      with design work.</p>

    <p class="govuk-body">Here is a list of designers and the teams they are in:</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body govuk-!-font-weight-bold">Account Pod</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p>Home team</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <ul class="govuk-list">
          <li>Ciandelle Hughes</li>
          <li>Magdalena Faizov</li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body govuk-!-font-weight-bold"></p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p>Authentication</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <ul class="govuk-list">
          <li>Elliot Butler</li>
        </ul>
      </div>
    </div>

    <p class="govuk-body-s govuk-review-text">Page last reviewed: 4 February 2026 <br>
      Next review due: 15 March 2028</p>

  </div>
</div>




{% endblock %}

</html>