{% extends "layouts/main.html" %} {% block pageTitle %} Content page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}

<head>
  <!-- // ... -->
  <link rel="stylesheet" href="/stylesheets/nhsuk-frontend.min.css">
  <!-- // ... -->
</head>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">
    <h1 class="govuk-heading-l">Designers by directorate</h1>

    <p class="govuk-body">Each designer is assigned to a specific directorate within GDS. Within the directorate you
      will be assigned to a team. In some cases, some people will work across more than one team, however this is not
      common practice. There are opportunities to move teams, especially if you want to do a mutual move.</p>

    <h2 class="govuk-heading-m" id="design-community">Heads of Design</h2>

    {% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}
    {{ card({
    cards: [
    {
    "imageCard": false,
    "imagePath": "/#",
    "altText": "Digital Identity",
    "headingLevel": "3",
    "linkCard": true,
    "link": "/whos-who/directorates/digital-identity",
    "openInNewTab": false,
    "heading": "Digital Identity",
    "description": "A list of designers in the Digital Identity directorate",
    "meta": ""
    },
    {
    "imageCard": false,
    "imagePath": "/#",
    "altText": "GOV.UK",
    "headingLevel": "3",
    "linkCard": true,
    "link": "#",
    "openInNewTab": false,
    "heading": "GOV.UK",
    "description": "A list of designers in the GOV.UK directorate",
    "meta": ""
    },
    {
    "imageCard": false,
    "imagePath": "/#",
    "altText": "Product and Services",
    "headingLevel": "3",
    "linkCard": true,
    "link": "#",
    "openInNewTab": false,
    "heading": "Product and Services",
    "description": "A list of designers in the Product and Services directorate.",
    "meta": ""
    },
    {
    "imageCard": false,
    "imagePath": "/#",
    "altText": "iAi",
    "headingLevel": "3",
    "linkCard": true,
    "link": "#",
    "openInNewTab": false,
    "heading": "i.AI",
    "description": "A list of designers for i.AI.",
    "meta": ""
    },
    {
   "imageCard": false,
    "imagePath": "/#",
    "altText": "technologyandsecurityteams",
    "headingLevel": "3",
    "linkCard": true,
    "link": "#",
    "openInNewTab": false,
    "heading": "Technology and Security teams",
    "description": "A list of designers for the Technology and Security teams.",
    "meta": ""
    }
    ]
    }) }}


    <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      {{ govukPagination({
      next: {
      labelText: "Design roles",
      href: "/roles/design-roles"
      }
      }) }}

  </div>
</div>

{% endblock %}