<!DOCTYPE html>
{% extends "layouts/main.html" %} {% block pageTitle %} Content page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "/whos-who/index"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Tim Paul</h1>
    <h2 class="govuk-heading-l govuk-hint">Head of UCD at i.AI</h2>

    <p class="govuk-body">
      Tim is Head of UCD for the <a href="https://ai.gov.uk/">Incubator for Artificial Intelligence</a> (i.AI) - part of the Digital Transformation Group in GDS. He leads a team of designers, content designers and user researchers who work closely with AI engineers and data scientists to explore potential use cases for AI in the public sector.      
    </p>

    <p class="govuk-body">
      Tim joined GDS way back in 2012, so he's seen it in all it's incarnations. He was previously GDS's Head of Interaction Design, and also led the creation of the GOV.UK Design System. Before that he led design on various GDS exemplar services, like Lasting Power of Attorney, Carer's Allowance and Universal Credit. Before he joined GDS Tim was a design manager at TfL, and before THAT he was studying AI & Linguistics and Edinburgh University - so he's very happy to have finally made use of his degree.
    </p>

    <p class="govuk-body">
      Read more about Tim at <a href="https://timpaul.co.uk">timpaul.co.uk</a>
    </p>

  </div>
</div>




{% endblock %}

</html>
