{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block header %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukHeader({
  classes: "govuk-header--full-width-border"
}) }}
{{ govukServiceNavigation({
  serviceName: "GDS Design Community library",
  serviceUrl: "#",navigation: [
    {
      href: "/roles/index",
      text: "Design roles"
    },
    {
      href: "/whos-who/index",
      text: "Who's who?"
    },
    {
      href: "#",
      text: "Findings and research"
    },
    {
      href: "#",
      text: "Learning and development"
    },
    {
      href: "#",
      text: "Resources across the community"
    }
  ]
}) }} 
{% endblock %}

{% block footer %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  meta: {
    items: [
      {
        href: "app\views\accessibility-statement.html",
        text: "Accessibility"
      },
      {
        href: "#",
        text: "Item 2"
      },
      {
        href: "#",
        text: "Item 3"
      }
    ]
  }
}) }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}